<div ng-init='ctrl.initialize();'>
  <div class='container'>
    <table id='text_table'>
      <thead><tr><th>Recepient</th><th>Subject</th><th>Body</th><th>Sent At</th></tr></thead>
      <tbody>
        <tr ng-repeat='text in texts'><td>[[text.recepient]]</td><td>[[text.subject]]</td><td>[[text.body]]</td><td>[[text.sent_at]]</td></tr>
      </tbody>
    </table>
    <table id='email_table'>
      <thead><tr><th>Recepient</th><th>Subject</th><th>Body</th><th>Sent At</th></tr></thead>
      <tbody>
        <tr ng-repeat='email in emails'><td>[[email.recepient]]</td><td>[[email.subject]]</td><td>[[email.body]]</td><td>[[email.sent_at]]</td></tr>
      </tbody>
    </table>
  </div>
</div>
