
<div id='main-container'>
  <div class="nav navbar">
    <ul class="nav nav-tabs">
      <li ng-show='user.accessedClouds.dropbox' role="presentation" ng-class="tabs.dropbox? 'active':''"><a ng-click='toggleClouds("dropbox")'><img src='../images/dropbox.png'/> Dropbox</a></li>
      <li ng-show='user.accessedClouds.googledrive' role="presentation" ng-class="tabs.googledrive? 'active':''"><a ng-click='toggleClouds("googledrive")'><img src='../images/googledrive.png'/> Google Drive</a></li>
      <li ng-show='user.accessedClouds.box' role="presentation" ng-class="tabs.box? 'active':''"><a ng-click='toggleClouds("box")'><img src='../images/box.png'/> Box</a></li>
      <li ng-show='user.accessedClouds.onedrive' role="presentation" ng-class="tabs.onedrive? 'active':''"><a ng-click='toggleClouds("onedrive")'><img src='../images/onedrive.png'/> OneDrive</a></li>
    </ul>
  </div>
  <table id='files-table'>
    <thead><tr><th>{{currentFolders[currentTab]}}</th></tr></thead>
    <tbody>
      <tr>
<!--         <td id='folder-navigation' ng-class='showFolders ? "show-folders":"hide-folders"'>
          <ul ng-show='tabs.googledrive'>
            <li role="presentation"><span class="centered" ng-click='getFolder("googledrive", "ROOT")'><i class='fa fa-folder'></i> ROOT</span></li>
            <li ng-repeat='folder in user.googledrivefolders'><span class="centered" ng-click='getFolder(folder.id, "googledrive", folder.title)'><i class='fa fa-folder'></i> {{folder.title}}</span></li>
          </ul>
          <ul ng-show='tabs.box'>
            <li role="presentation"><span class="centered" ng-click='getFolder("box", "ROOT")'><i class='fa fa-folder'></i> ROOT</span></li>
            <li ng-repeat='folder in user.boxfolders'><span class="centered" ng-click='getFolder(folder.id, "box", folder.name)'><i class='fa fa-folder'></i> {{folder.name}}</span></li>
          </ul>
          <ul ng-show='tabs.dropbox'>
            <li role="presentation"><span class="centered" ng-click='getFolder("dropbox", "ROOT")'><i class='fa fa-folder'></i> ROOT</span></li>
            <li ng-repeat='folder in user.dropboxfolders'><span class="centered" ng-click='getFolder(folder.path, "dropbox", folder.path)'><i class='fa fa-folder'></i> {{folder.path}}</span></li>
          </ul>
          <ul ng-show='tabs.onedrive'>
            <li role="presentation"><span class="centered" ng-click='getFolder("onedrive", "ROOT")'><i class='fa fa-folder'></i> ROOT</span></li>
            <li ng-repeat='folder in user.onedrivefolders'><span class="centered" ng-click='getFolder(folder.id, "onedrive", folder.name)'><i class='fa fa-folder'></i> {{folder.name}}</span></li>
          </ul>
        </td> -->
        <td id='files-container'>
          <div ng-hide='user.accessedClouds' class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Login to your accounts by clicking to the left!
          </div>


          <ul ng-if='tabs.box' class='folder'>
            {{user.boxfiles.name}}
            <li ng-repeat="item in user.boxfiles.items" ng-include="'item_template'" ng-click='getFolder($event, item, "box")' class='sub' ng-class='item.type'></li>
          </ul>
          <!-- <uib-accordion>
            <uib-accordion-group ng-repeat="item in user.boxfiles.items" heading="{{item.name}}" class='{{item.type}}'>
            <div ng-click='toggleOpen()'><span ng-click='moreInfo(file.id, file.source)'>More Info</span><span ng-click='downloadFromCloud(file.id, file.source)'>Download</span><span ng-click='deleteFromCloud({id: file.id, eTag: file.etag}, file.source)'>Delete</span><span ng-click='changeToInputField($event, file.id, file.title, currentTab)'>Rename</span><span ng-click='opendialog()'>Move</span></div>
            </uib-accordion-group>
          </uib-accordion>
        -->

<!--           <cloud-files ng-show='tabs.googledrive' currentfolder='currentFoldersID["googledrive"]' opendialog='openDialog()' download="downloadFromCloud(file.id, file.source)" delete="deleteFromCloud(file.id, file.source)" cloud="google drive" files='user.googledrivefiles.items'></cloud-files>

          <cloud-files ng-show='tabs.dropbox' currentfolder='currentFoldersID["dropbox"]' opendialog='openDialog()' download="downloadFromCloud(file.id, file.source)" delete="deleteFromCloud(file.id, file.source)" cloud='dropbox' files='user.dropboxfiles'></cloud-files>

          <cloud-files ng-show='tabs.box' currentfolder='currentFoldersID["box"]' opendialog='openDialog()' download="downloadFromCloud(file.id, file.source)" delete="deleteFromCloud(file.id, file.source)" cloud='box' files='user.boxfiles.item_collection.entries'></cloud-files>

          <cloud-files ng-show='tabs.onedrive' currentfolder='currentFoldersID["onedrive"]' opendialog='openDialog()' download="" delete="deleteFromCloud(file.id, file.source)" cloud='one drive' files='user.onedrivefiles'></cloud-files> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- FILE CONTAINER PARTIAL -->
<script type="text/ng-template" id="item_template">
  <span ng-if='item.type == "folder"'>{{item.name}}</span>
  <uib-accordion ng-if='item.type == "file"'>
  <uib-accordion-group heading="{{item.name}}">
  <div ng-click='toggleOpen()'><span ng-click='moreInfo(item.id, "box")'>More Info</span><span ng-click='downloadFromCloud(item.id, "box")'>Download</span><span ng-click='deleteFromCloud({id: item.id, eTag: item.etag}, "box")'>Delete</span><span ng-click='changeToInputField($event, item.id, item.name)'>Rename</span><span ng-click='opendialog()'>Move</span></div>
</uib-accordion-group>
</uib-accordion>
<ul><li ng-repeat="item in item.items" ng-click='getFolder($event, item, "box")' ng-include="'item_template'" ng-class='item.type'></li></ul>
</script>