<div ng-init='ctrl.initialize()'>
  <div id='admin-section'>
    <form dropzone="dropzoneConfig"
    class="dropzone"
    id="dropzone">
    </form>
    <div id='cloudLogins'>
      <cloud-login ng-repeat='c in ctrl.clouds' cloud="{{c}}" ng-class='user[c + "files"] ? "":"nonactive-account"'></cloud-login>
    </div>
  </div>
  <div id='main-container'>
    <table class='table'>
      <thead>
        <tr class='row'><th>Source</th><th>Title</th><th>Download</th><th>Delete</th></tr>
      </thead>
      <tbody>
        <tr ng-repeat='file in user.files' class='row'>
          <td><img ng-src='../images/{{file.source}}.png'/></td><td>{{file.title}}</td><td><span ng-if='file.source != "onedrive"' class='glyphicon glyphicon-cloud-download' ng-click='ctrl.downloadFromCloud(file.id, file.source)'></span><span ng-if='file.source == "onedrive"' class='glyphicon glyphicon-cloud-download' ng-href='{{file["@content.downloadUrl"]}}'></span></td><td><span class='glyphicon glyphicon-remove' ng-click='ctrl.deleteFromCloud(file.id, file.source)'></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
