<!DOCTYPE html>
<html ng-app='mainApp'>

<head>
  <base href="/"></base>
  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/css/extra.css"></link>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/dropzone/dist/min/dropzone.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/jquery-ui/jquery-ui.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/ng-dialog/js/ngDialog.js"></script>
  <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
  <script src="bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
  <!-- endbower -->

  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/dropzone/dist/min/dropzone.min.css" />
  <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.css" />
  <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.css" />
  <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.css" />
  <!-- endbower -->
  <script src="/js/app.js"></script>
  <script src="/js/app_config.js"></script>

  <script src="/js/controllers/navBar.js"></script>
  <script type="text/javascript">
  var justAdded = {{justAdded|raw|json_encode}};
  </script>
  <script src="/js/controllers/dropzone.js"></script>
  <script src="/js/controllers/oauth.js"></script>
  <script src="/js/controllers/files.js"></script>
  <script src="/js/controllers/navBar.js"></script>
  <script src="/js/directives/cloudFiles.js"></script>
  <script src="/js/directives/cloudLogin.js"></script>
  <script src="/js/directives/dropzone.js"></script>
  <script src="/js/directives/onFinishRender.js"></script>
  <script src="/js/services/files.js"></script>
  <script src="/js/services/users.js"></script>
</head>

<body>
  <header class="header black-bg" ng-controller='navCtrl'>
    <a href="index.html" class="logo"><b>DROPZONE</b></a>
    <div class="top-menu">
      <ul class="nav pull-right top-menu">
        <li><a class="logout" ng-click='logout()'>LOGOUT</a></li>
      </ul>
    </div>
  </header>
  <div id='side-bar'>
    <div id='oauth-view' ui-view='oauth'></div>
    <div id='dropzone-view' ui-view='dropzone'></div>
  </div>
  <div id='files-view' ui-view='files'></div>
  <div id='tabs-view' ui-view='tabs'></div>
</body>
</html>
