@import url(https://fonts.googleapis.com/css?family=Ruda);
html, body{
    height: 100%;
}
#top-navbar{
  background-color: black;
  color: white;
  height: 60px;
}
.contain {
  width: 80%;
}
.folder {
  text-decoration: underline;
}
#top-navbar span{
  color: white;
  left: 10px;
  top:8px;
  position: absolute;
  font-size: 24px;
  font-family: Arial, Helvetica, Arial, sans-serif !important;
}
#top-navbar a{
  color: white;
  top:13px;
  position: absolute;
  font-size: 24px;
  font-family: Arial, Helvetica, Arial, sans-serif !important;
}
.nav-tabs li, .nav-tabs li a {
  height: 50px;
}
.nav-tabs img {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#cloudLogins{
  width:50%;
  /*float:right;*/
  min-height: 150px;
}

#cloudLogins a{
  width:25%;
  min-width:25%;
}
#cloudLogins img{
  display: inline-block;
  width:30px;
  height:30px;
  cursor:pointer;
}
#logout{
  right: 10px;
  position: absolute;
}

#welcome{
  top: 13px;
}
#dropzone{
  float:left;
}
#profilePicture{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 5px;
  left: 200px;
  position: absolute;
}


#login-box {
  color:white;
  top: 0; left: 0;
  width, height: 100%;
  background-color: black;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  text-align:center;
}

#login-box span {
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  font-family: "Lucida Grande";
}

#login-box img {
  width: 200px;
  height: 42px;
}

#login-body{
  background-color: #57BECC;
}


.nonactive-account{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

tr img {
  width:50px;
  height:50px;
  cursor:pointer;
}
#side-bar {
  width:200px;
  height: 100%;
  position: fixed;
  background: #424a5d;
}

#oauth-view {
  width:200px;
  height:200px;
}
#files-view {
  margin-left: 210px;
  padding-top: 60px;
  height: 100%;
}

#main-container {
  display: table;
  table-layout: fixed;
  width:98%;
}
cloud-files td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 1200px;
}
.panel-group .panel-default {
  display: block!important;
}
.overlay{
  display:none;
}
cloud-files td:hover .overlay {
  display:block;
  background-color:red;
  top:0;
  opacity:0.75;

}
#cloudLogins ul{
  /*margin-left: -100px;*/
  width: 200px;
}
#cloudLogins div{
  height: 50px;
  width: 200px;
  display: table-cell; vertical-align: middle;
}
.navbar {
  margin-bottom: 0px!important;
}

.showAccordion {
  display: block!important;
}
.hideAccordion {
  display: none!important;
}
ul.sidebar-menu {
  margin-top: 75px!important;
}
body {
  font-family: 'Ruda', sans-serif!important;
}
#folder-navigation li {
  padding-top: 15px!important;
}

#folder-navigation ul {
  padding-left: 25px!important;
}

#folder-navigation.show-folders {
  min-width: 300px;
  width: 25vh;
  height:80vh;
  border: 1px solid #ddd;
}
#folder-navigation.hide-folders {
  width: 0vh;
  height:80vh;
  border: 1px solid #ddd;
}

#folder-navigation.hide-folders span{
  display: none;
}
#files-container {
  width: 100%;
  height:80vh;
}
#files-table td {
  vertical-align: top;
}
#files-table th:nth-child(2) {
  text-align: center;
  width: 100%;
}
#files-table th:nth-child(1) {
  text-align: right;
  padding-right: 5px;
  border-right: 1px solid #ddd;
}
table, tr, tbody, td, thead, th {
  border-top: none!important;
}

.fa-arrow-left, .fa-arrow-right {
  font-size: 1.5em!important;
}

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
