.navbar{
  background-color: black;
  color: white;
  height: 60px;
}
.navbar span{
  color: white;
  left: 10px;
  top:8px;
  position: absolute;
  font-size: 24px;
  font-family: Arial, Helvetica, Arial, sans-serif !important;
}
.navbar a{
  color: white;
  top:13px;
  position: absolute;
  font-size: 24px;
  font-family: Arial, Helvetica, Arial, sans-serif !important;
}
#cloudLogins{
  width:50%;
  float:right;
  min-height: 150px;
}

#cloudLogins a{
  width:25%;
  min-width:25%;
}
#cloudLogins img{
  width:150px;
  height:150px;
  cursor:pointer;
}
#logout{
  right: 10px;
  position: absolute;
}

#home{
  right: 460px;
  position: absolute;
}

#manage{
  right: 320px;
  position: absolute;
}
#dashboard{
  right: 150px;
  position: absolute;
}
#welcome{
  top: 13px;
}
#dropzone{
  min-height: 150px;
  width:50%;
  float:left;
}
#profilePicture{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 5px;
  left: 200px;
  position: absolute;
}
#single_message, #scheduled_message{
  width: 50%;
  display: inline;
}
#single_message{
  float:left;
}
#scheduled_message{
  float:right;
}
.individualContainer{
  width: 33%;
  float:left;
  height: 500px;
  overflow-y:scroll;
}
.mainContainer{
  height: 600px;
}
#admin-section{
  height: 150px;
}

#main-container, #admin-section{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

#login-box{
  margin-right: auto;
  border-radius: 10px;
  border: 5px solid white;
  margin-left: auto;
  margin-top: 10em;
  padding-left: 15px;
  padding-right: 15px;
  width: 35%;
  height: 500px;
  background-color: #3245CC;
  text-align:center;
  box-shadow: 0px 0px 200px 10px white;

}

#login-box img {
  width: 200px;
  height: 42px;
}

#login-body{
  background-color: #57BECC;
}

#accounts-dropdown{

}

#box-login{
  right: 250px;
  height: 100%;
  line-height: 60px;
  position: absolute;
  font-size: 24px;
  font-family: Arial, Helvetica, Arial, sans-serif !important;
}
#dropbox-login{
  right: 450px;
  height: 100%;
  line-height: 60px;
  position: absolute;
  font-size: 24px;
  font-family: Arial, Helvetica, Arial, sans-serif !important;
}
#googledrive-login{
  right: 650px;
  height: 100%;
  line-height: 60px;
  position: absolute;
  font-size: 24px;
  font-family: Arial, Helvetica, Arial, sans-serif !important;
}

.nonactive-account{
  -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%);
}

tr img {
  width:50px;
  height:50px;
  cursor:pointer;
}
