<div>Select a folder to move {{currentFileToMove.name}} to</div>
<div class='list-group'>
  <ul class='folder list-group'>
    <span ng-click='moveFile(currentFileToMove, user[[currentTab + "files"]].id)'>{{user[[currentTab + "files"]].name}}</span>
    <li ng-if='item.type=="folder"' ng-repeat="item in user[currentTab + 'files'].items" ng-include="'item_template'" ng-click='moveFile(currentFileToMove, item.id || item.path)' class='sub folder list-group-item'></li>
  </ul>
  <input type="checkbox" name="vehicle" ng-model='copyFile' value="copy">Make a Copy</input>
</div>
<!-- FILE CONTAINER PARTIAL -->
<script type="text/ng-template" id="item_template">
<span ng-if='item.type == "folder"'>{{item.name}}</span>
<ul class='list-group'>
<li ng-repeat="item in item.items" ng-if='item.type=="folder"' ng-click='moveFile(currentFileToMove, item.id)' ng-include="'item_template'" class='sub folder list-group-item'></li>
</ul>
</script>

